numpy==1.21.1
tqdm==4.61.1
albumentations==1.0.3
pydantic==1.8.2
pandas==1.3.2
clearml==1.1.2
onnx==1.10.1
onnx_simplifier==0.3.6
opencv_python_headless==4.5.3.56
timm==0.4.12
onnxoptimizer==0.2.6
torch==1.9.0
PyYAML==6.0
scikit_learn==1.0
jupyter-client==6.1.12
jupyter-core==4.7.1